* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Roboto, Arial;
  color: #A30B37;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FCFCFF;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &__inner {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 800px;
    background: #fff;
  }
  &__layer &__item {
    position: absolute;
    box-shadow: 0 32px 40px -20px rgba(0, 0, 0, .25);
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover;
    background-size: cover !important;
    transform: scale(0);
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }
    &:after {
      content: attr(data-title);
      position: absolute;
      line-height: 20px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: all .5s ease;
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      &:after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__layer:nth-child(1) &__item {
    $color: #2E385C;
    top: 200px;
    left: 120px;
    width: 340px;
    height: 340px;
    background: url(https://images.unsplash.com/photo-1516181676778-ff27bcaf5fe6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=249b5e8dca4c10a0b0b0f4c4ecd49a7a&auto=format&fit=crop&w=800&q=60) no-repeat center center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &:after {
      top: -23px;
      left: 0;
      color: $color;
    }
  }
  &__layer:nth-child(2) &__item {
    $color: #5A5050;
    top: 440px;
    left: 400px;
    width: 240px;
    height: 200px;
    background: url(https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73a27b0f1231b46fad892c62f220b9d8&auto=format&fit=crop&w=800&q=60) no-repeat center center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    &:after {
      bottom: -23px;
      right: 0;
      color: $color;
    }
  }
  &__layer:nth-child(3) &__item {
    $color: #366C6F;
    top: 400px;
    left: 160px;
    width: 300px;
    height: 300px;
    background: url(https://images.unsplash.com/photo-1525683879097-8babce1c602a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3538a973cfdeefd90d2cc5d08fde8a9d&auto=format&fit=crop&w=800&q=60) no-repeat center center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    &:after {
      bottom: -23px;
      left: 0;
      color: $color;
    }
  }
  &__layer:nth-child(4) &__item {
    $color: #E9EDEA;
    top: 100px;
    left: 400px;
    width: 350px;
    height: 480px;
    background: url(https://images.unsplash.com/photo-1489424731084-a5d8b219a5bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=214b5beac96f7d680a19b3836b28ccc3&auto=format&fit=crop&w=668&q=80) no-repeat center center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    &:after {
      top: -23px;
      right: 0;
      color: darken($color, 9%);
    }
  }
  &__layer:nth-child(5) &__item {
    $color: #FCFCFF;
    top: 300px;
    left: 300px;
    width: 200px;
    height: 200px;
    background: #BD6B73;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    &:after {
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
      line-height: 20px;
      margin: auto;
      text-align: center;
      color: #FCFCFF;
    }
  }
}

.trigger {
  position: absolute;
  display: block;
  
    width: 200px;
    height: 200px;
    top: 50%; left: 50%;
    transform: translate( -50%, -50% );
    background: #A30B37;
    line-height: 200px;
    text-align: center;
    text-decoration: none;
    outline: 0px none;
    outline: 0px;
    font-family: Arial;
    color: #FCFCFF;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 100;
    text-transform: uppercase;
    z-index: 100;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.025), 0 15px 31px rgba(0, 0, 0, 0.075);
}

@media screen and (max-width: 768px) {
    
    .items {
      &__inner {
        max-width: 316px;
        height: 352px;
      }
      &__layer:nth-child(1) &__item {
        top: 50px;
        left: 20px;
        width: 140px;
        height: 140px;
      }
      &__layer:nth-child(2) &__item {
        top: 160px;
        left: 200px;
        width: 140px;
        height: 100px;
      }
      &__layer:nth-child(3) &__item {
        top: 100px;
        left: 60px;
        width: 200px;
        height: 200px;
      }
      &__layer:nth-child(4) &__item {
        top: 10px;
        left: 140px;
        width: 250px;
        height: 280px;
      }
      &__layer:nth-child(5) &__item {
        top: 100px;
        left: 60px;
        width: 100px;
        height: 100px;
      }
    }
    
}